.unsupported_message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-secondary);
  padding: 2rem 3rem;
  border-radius: 1rem;
  border: 1px solid var(--border);
  text-align: center;
  color: var(--text-primary);
  max-width: 25rem;
  word-wrap: break-word;

  img {
    width: 6rem;
    margin-bottom: 1rem;
    filter: invert(1);
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  p {
    font-size: 0.8rem;
    color: var(--text-secondary);
  }
}
