.combo_box_main {
  border: 1px solid var(--border);
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  user-select: none;
  min-width: 14rem;
  z-index: 2;
  position: relative;

  .left {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    .icon {
      font-size: 0.8rem;
      color: var(--text-primary);
    }

    .selected_item {
      font-size: 0.9rem;
      color: var(--text-primary);
    }
  }

  .drop_arrow {
    width: 1rem;
    filter: invert(1);
    transition: 0.2s ease-in-out;

    &.active {
      transform: rotateZ(-180deg);
    }
  }

  .combobox {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.8rem;
    border: 1px solid var(--border);
    border-radius: 0.8rem;
    padding: 0.5rem;
    min-width: 200px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: slide_combo 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    z-index: 1;
    background-color: var(--bg-secondary);

    @keyframes slide_combo {
      0% {
        opacity: 0;
        transform: translateY(-1rem);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    .combobox_item {
      color: var(--text-primary);
      padding-left: 1rem;
      padding-right: 0.3rem;
      cursor: pointer;
      margin-bottom: 0.25rem;
      transition: all 0.2s ease;
      background-color: #ffffff05;
      border-radius: 0.5rem;
      font-size: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-wrap: nowrap;
      min-height: 3rem;

      &:last-child {
        margin-bottom: 0.5rem;
      }

      &.active {
        border: 1px solid var(--border);
      }

      &:hover {
        .combobox_item_actions {
          display: flex;
        }
      }

      .dot {
        height: 0.4rem;
        width: 0.4rem;
        opacity: 0.8;
        border-radius: 50%;
        margin-right: 0.8rem;
      }

      .combobox_item_actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        display: none;
        height: 100%;

        button {
          height: 90%;
          aspect-ratio: 1/1;
          right: 0.5rem;
          aspect-ratio: 1 / 1;
          margin: 0;
          display: inline;
          padding: 0.7rem;

          @include hover_opacity_transition;
        }
      }
    }

    .combobox_actions {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;

      button {
        width: 100%;
        border-radius: 0.5rem;
        color: var(--text-primary);
        background-color: var(--border);
      }
    }
  }
}
