.topbar {
  height: 5rem;
  min-height: 4.8rem;
  max-height: 5rem;
  padding: 0.8rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;

  .logo_button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 2rem;
      mix-blend-mode: difference;
    }
  }

  .left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.5rem;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      user-select: none;

      h1 {
        font-size: 1.3rem;
        color: var(--text-primary);
        margin-left: 1rem;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.1rem;
      padding: 0rem;
      .version {
        font-size: 0.55rem;
        color: var(--text-secondary);
        margin-bottom: 0.2rem;
      }

      .tag {
        font-size: 0.45rem;
        padding: 0.15rem;
        color: var(--text-primary);
        background-color: var(--accent);
        border-radius: 0.2rem;
        text-transform: lowercase;
        display: none;
        opacity: 0.6;
      }
    }
  }

  .right {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #ffffff09;
    margin-right: 0.5rem;
    border-radius: 1.2rem;

    .templates_button {
      cursor: pointer;
      background-color: var(--accent);
      border: none;
      outline: none;
      color: var(--bg-primary);
      font-size: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      padding: 0.9rem 1rem;
      border-radius: 0.5rem;
      i {
        font-size: 0.8rem;
        color: var(--bg-primary);
      }
    }
  }
}
