.divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;

  .section_title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-primary);
  }

  .line {
    width: 100%;
    height: 1px;
    background: var(--border);
  }
}
