.wheel_preview {
  flex: 1;
  max-height: 100%;
  width: 60%;
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: width 0s;
  // border: 1px solid var(--border);
  background-color: var(--bg-secondary);
  min-height: 30rem;

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    z-index: 5;
    background-color: #ffffff05;
    padding: 0.5rem;
    border-radius: 1rem;

    .button {
      cursor: pointer;
      background-color: transparent;
      color: var(--bg-primary);
      outline: none;
      padding: 0.8rem 1rem;
      border-radius: 0.8rem;
      font-size: 0.9rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      transition: all 0.3s ease;
      border: 1px solid var(--border);
      color: var(--text-secondary);
      width: 3rem;
      overflow: hidden;
      transition: all 0.3s ease;
      text-wrap: nowrap;
      white-space: nowrap;

      &:hover {
        background-color: var(--border);
        width: 12rem;
        aspect-ratio: unset;
        span {
          display: inline;
        }
      }

      span {
        display: none;
        font-size: 0.9rem;
        font-weight: 500;
        animation: textReveal 0.6s ease forwards;

        @keyframes textReveal {
          0% {
            opacity: 0;
            transform: translateX(-10%);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      .icon {
        font-size: 1rem;
        color: var(--text-secondary);
      }
    }
  }

  .angle_representation {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    height: clamp(20rem, 40vh, 30rem);

    .angle_text {
      font-size: clamp(1.5rem, 3vw, 2rem);
      color: var(--text-primary);
      opacity: 0.5;
      font-weight: 300;
      transform: translateY(calc(-1.4 * clamp(9rem, 18vh, 10rem)));
    }

    @media screen and (max-width: 1800px) {
      .angle_text {
        transform: translateY(calc(-0.9 * clamp(9rem, 18vh, 10rem)));
      }
    }

    .bars {
      width: 100%;
      height: clamp(8rem, 15vh, 20rem);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: calc(-1.1 * clamp(20rem, 32vh, 20rem));

      @media screen and (max-width: 1800px) {
        margin-bottom: calc(-0.6 * clamp(20rem, 32vh, 20rem));

        scale: 0.7;
      }

      .bar:first-child,
      .bar:last-child {
        background-color: var(--accent);
        height: clamp(2.8rem, 5vh, 4rem);
      }

      .bar {
        position: absolute;
        height: clamp(2.4rem, 4.5vh, 3.5rem);
        background-color: var(--accent);
        opacity: 0.3;
        border-radius: 0.5rem;
        width: clamp(0.15rem, 0.3vw, 0.25rem);
        bottom: 0;
        transform-origin: center bottom;
        // transition: all 0.3s ease;

        &.active {
          background-color: var(--accent);
          box-shadow: 0 0 20px var(--accent);
          opacity: 1;
        }

        @for $i from 1 through 54 {
          &:nth-child(#{$i}) {
            transform: rotate(calc(-50deg + (#{$i} - 1) * 1.9deg))
              translateY(calc(-1 * clamp(14rem, 28vh, 21rem)));
          }
        }
      }
    }
  }

  .wheel {
    // width: min(80%, 30rem);
    height: clamp(20rem, 40vh, 30rem);
    margin-top: calc(-1.3 * clamp(8rem, 12vh, 13rem));
    position: relative;
    // overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-out;
    aspect-ratio: 1 / 1;
    clip-path: circle(50%);

    &:hover {
      img {
        opacity: 0.6;
        filter: blur(10px);
      }

      .buttons {
        opacity: 1;
      }
    }

    img {
      width: 80%;
      // height: 55%;
      object-fit: contain;
      transform: scale(1.15);
      mix-blend-mode: multiply;
      transition: filter 0.3s ease;
    }

    .buttons {
      position: absolute;
      opacity: 0;
      backdrop-filter: blur(15px);
      background-color: var(--border);
      transition: 0.3s ease-in-out;

      .upload_button {
        background-color: var(--accent);
        border: none;
        outline: none;
        color: var(--bg-primary);
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        transition: all 0.3s ease;

        .icon {
          font-size: 0.8rem;
          color: var(--bg-primary);
        }

        input {
          display: none;
          appearance: none;
          -webkit-appearance: none;
        }

        i {
          font-size: 1rem;
          color: var(--bg-primary);
        }
      }
    }

    @media screen and (max-width: 1800px) {
      height: clamp(15rem, 30vh, 30rem);
      margin-top: calc(-1.2 * clamp(8rem, 12vh, 13rem));
    }
  }

  .preset_cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0.5rem;
    opacity: 0.7;
    padding-top: 0rem;
    height: auto;
    border-top: 1px solid var(--border);

    .preset_title {
      font-size: 1.2rem;
      color: var(--text-primary);
      font-weight: 500;
      padding: 0.7rem;
      opacity: 0.9;
    }

    .cards_container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 1rem;
      padding: 0 1rem;

      .preset_card {
        user-select: none;
        background-color: var(--border);
        border: 2px solid transparent;
        border-radius: 0.9rem;
        padding: 1rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 100px;
        position: relative;
        height: 100%;
        flex: 1 1 calc(33% - 2rem);
        max-width: 50%;

        &:hover {
          border-color: color-mix(in srgb, var(--accent) 30%, transparent);
        }

        &.selected {
          border-color: var(--accent);

          .preset_name {
            color: var(--accent);
          }
        }

        .preset_name {
          font-size: 1rem;
          font-weight: 600;
          color: var(--text-primary);
          margin-bottom: 0.5rem;
        }

        .preset_description {
          font-size: 0.75rem;
          color: var(--text-secondary);
          opacity: 0.7;
        }
      }
    }
    @media screen and (max-height: 700px) {
      display: none;
    }
  }
}
